extends base.html
block content
  block content_title
  for article in articles_page.object_list
    section
      header.major
        h2
          a(href="#{SITEURL}/#{article.url}")= article.title
      p.time #{article.date|strftime('%a %d %b %Y')}
      br
      br
      != article.summary
  section
    include pagination.html
